../terraform/
terraform.tfstate
terraform.tfstate.backup

.git/
.gitignore

__pycache__/
*.py[cod]
*.so
.venv/
env/
venv/
.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/

README.md
cloudbuild.yaml
.env
.env.example

frontend/
